<div class="user-info">
  <% if user_signed_in? %>
    <%= link_to current_user.nickname, user_path(current_user), class: "user-btn" %>
    <%= link_to "新規投稿", new_post_path, class: "user-btn" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-btn" %>
  <% end %>
</div>
<div class="postTitle">
  名刺の保存
</div>

<div class="save-contents">
  <%= render 'form'%>
</div>