body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQzkpCpMMrHAFvYhkiqQEsrGOawFlRMm1BTV3AO0VtXLE-a11y5&usqp=CAU);
  background-size: cover;
  position: relative;
  a {
    color: black;
    text-decoration: none;
  }

  .header {
    height: 60px;
    width: 100;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    
    &__title {
      font-size: 60px;
    }
  }
}