#wrapper {
  
  .user-info {
    padding-top: 20px;
    .user-btn {
      margin-left: 20px;
      font-size: 20px;
      text-decoration: none;
    }
  }
  .postTitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
  }

  .user-contents {
    height: 500px;
    width: 700px;
    margin: 0 auto;
    padding-top: 100px;
    font-size: 20px;
    overflow: scroll;

    a {
      text-decoration: none;
    }

    .user-content {
      height: 30px;
      width: 100%;
      margin-bottom: 70px;

      &__text {
        border-bottom: 1px solid ;
      }
    }
  }
}